.app {
  border: 2px solid red;
  background-color: #e6e6e6;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app.dark {
  background-color: #3b4664;
}

.header {
  padding: 30px 0px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 20.5rem;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black; */
}
.calc {
  font-weight: bold;
  font-size: 23px;
}
.calc.dark {
  color: beige;
}
.theme.dark {
  color: beige;
}
.theme {
  font-weight: bold;
  font-size: 10px;
}
.toggler {
  display: flex;
  align-items: center;
}
.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}
.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}
nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}
nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2b283a;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #d5d4d8;
}

nav.dark .toggler-dark {
  color: #ffffff;
}
nav.dark .toggler--slider {
  justify-content: flex-end;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(5, auto);
  /* gap: 8px; */
  row-gap: 16px;

  justify-content: center;
  /* align-items: center; */

  background-color: #d3cdcd;
  border-radius: 12px;
  padding: 20px;
  margin-top: 10px;
  max-width: 450px;
  place-items: center;
}

.wrapper.dark {
  background-color: #242d43;
}
